*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;

}
body{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #ffffff;
    margin: 0 3em;
}
header {
    height: 5em;
    width: 100%;
    background-color: #ffffff;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;


}
label.logo{
    font-size: 2.625em;
    font-weight: bold;
    color: #000000;
    line-height: 5rem;
    /* padding: 0 6.25em 0 0; */
}

form{
    display: none;
}

.dropdown{
    background-color:white;
    
    border: none;
    font-size: 1.7em;
    font-weight: bold;
}


nav{
    flex-direction: row;
   
}
nav ul{
    line-height: 5em;
}

nav ul li{
    display: inline-block;
    line-height: 5em;
    margin:0 0.313em;
}


    

nav ul li a{
    color: #000000;
    font-size: 1.75em;
    margin: 0 0.313em;
    
}

main{
    width: 100%;
    height: 72em;
}

.heading{
    
    display: flex;
    text-align: center;
    height: auto;
    justify-content: center;
    align-items: center;
    padding-top: 4em;
    width: 100%;
}

h1{
    font-size: 7.5em;
    color: #000000;
    font-weight: bold;
    /* line-height: 2em; */


}
.hero_image img{
    width: 100%;
    padding: 3em 0 6em 0;
}

section{
    display: flex;
    flex-wrap: wrap;
    gap: 3em;
    justify-content: center;
}

.project_section{
    padding: 3em 0;
    border-top: 0.063em solid black;
    border-bottom: 0.063em solid black;
}

.project_section h2{
    padding-bottom: 1.5em;
    line-height: 2.5em;
    font-size: 2.125em;
}

.item h2{
    color: #000000;
    font-size:1.25em ;
    padding: 0.75em 0;
    font-weight: 400;
}
.item p{
    color: #000000;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 1.5em;
}

.item button{
    background-color: black;
    padding: 0.5em 1em;
    color: white;
    border-radius: 0.5em;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

}
about{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
    padding-bottom: 15.875em;
}


about h3{
    color: #000000;
    font-size: 4em;
    text-align: center;
    /* padding: 6em 13.875em 1em 13.875em; */
   
    font-weight: 400;
    line-height: 4.25em;
}

about p{
    color: #000000;
    font-size: 1.5em;
    text-align: center;
    /* padding: 96px 222px; */
    font-weight: lighter;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;


    /* letter-spacing: 15%; */
}

about button{
    background-color: black;
    padding: 0.75em 1.5em;
    color: white;
    border-radius: 0.5em;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    width: auto;
    font-size: 1.25em;

}
footer{
    height: 8%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}

footer>.water-mark{
    color: black;
    
    font-size: 1.75rem;
    margin-left: 2rem;
    
}

footer>.follow>input{
    
    color: black;
    border: 1px solid black;
    padding: 0.5rem;
    border-radius: 0.35rem;
    background-color: #ffffff;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    width: auto;
    font-size: 1.25em;
    transition-duration: 0.5s;

    cursor: pointer;
    margin-right: 2rem;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;

}

.follow>input:hover{
    transform: scale(1.1);
}



@media(max-width:650px){
    form{
        display: inline;
    }

    nav{
        display: none;
    }
}